{{#each songs}}
  <div class = 'songItem'>
    <h3>
      {{name}} ({{album}})
        performed by {{artist}} on the album {{album.name}}
      </h3>
  {{!-- <button class = 'deleteOption'>Delete This Song</button> --}}

      <div class="row">
        <div class="col-sm-12">
          <a href="#" id="delete#{{ key }}">Delete</a>
        </div>
      </div>

  </div>
{{/each}}
